#ans{
    display: flex;
    background-color: antiquewhite;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: large;

}

body{
    background-image: url('poke_back.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#gazou{
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    width:auto;
    height: 50vh; /* 画面の高さいっぱいに要素を表示 */
}

#zukan{
    text-align: center;
    background-color: antiquewhite;
    font-weight: bold;

}

#buttonContainer{
    text-align: center;
    margin-top: 50px;

}

.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
.input{
    margin-top: 10px;
}
  
  .input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }

  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    font-size: 15px;
  }
  
  .btn-2 {
    background: #004dff;
    background: linear-gradient(0deg, #004dff 0%, #004dff 100%);
    border: none;
  }
  
  .btn-2:before {
    height: 0%;
    width: 2px;
  }
  
  .btn-2:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }
  
  .custom-btn{
    margin-top: 30px;
  }

  #buttonContainer_2{
    text-align: center;
    margin-top: 20px;
  }

  #quiz_ans{
    text-align: center;
    margin-top: 10px;

  }

  #pokemon_quiz_ans{
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: large;
    font-weight: bold;
  }